<!DOCTYPE html>

<html lang="en" class="no-js">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>
        اینجا نیوس
    </title>
    <link href="/css/media_query.css" rel="stylesheet" type="text/css" />
    <link href="/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <link
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />
    <link href="/css/animate.css" rel="stylesheet" type="text/css" />
    <link
      href="https://fonts.googleapis.com/css?family=Poppins"
      rel="stylesheet"
    />
    <link href="/css/owl.carousel.css" rel="stylesheet" type="text/css" />
    <link href="/css/owl.theme.default.css" rel="stylesheet" type="text/css" />
    <!-- Bootstrap CSS -->
    <link href="/css/style_1.css" rel="stylesheet" type="text/css" />
    <link href="/css/styles.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/sweetalert2/dist/sweetalert2.min.css">
    <script src="/sweetalert2/dist/sweetalert2.all.min.js"></script>

    <!-- Modernizr JS -->
    <script src="/js/modernizr-3.5.0.min.js"></script>
    <script src="https://cdn.ckeditor.com/4.19.1/standard/ckeditor.js"></script>
  </head>
  <body style="direction: rtl;">
    <div class="container-fluid bg-faded fh5co_padd_mediya padding_786">
      <div class="container padding_786">
        <nav class="navbar navbar-toggleable-md navbar-light">
          <button
            class="navbar-toggler navbar-toggler-right mt-3"
            type="button"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="fa fa-bars"></span>
          </button>
          <a class="navbar-brand" href="#"
            ><img src="/images/logo.png" alt="img" class="mobile_logo_width"
          /></a>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
              <li>
                <a href="index.html">
                  <img
                    style="width: 40px; height: 40px"
                    src="/images/logo.png"
                  />
                </a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="/"
                  >خانه <span class="sr-only">(current)</span></a
                >
              </li>

              
           
         
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  id="dropdownMenuButton2"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                  >دسته بندی ها <span class="sr-only">(current)</span></a
                >
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink_1">
                  <% categories.forEach(category => { %> 
                      <a class="dropdown-item" href="/categories/<%=category.slug  %>"><%=category.title  %> </a>
                    <%}); %> 
                </div>
              </li>
              <% if(auth.check){%>
                <li class="nav-item ">
                  <a class="nav-link" href="/users/logout"
                    >خروج <span class="sr-only">(current)</span></a
                  >
                </li>
                <%}else{ %>
                  <li class="nav-item ">
                    <a class="nav-link" href="/users/login"
                      >ورود <span class="sr-only">(current)</span></a
                    >
                  </li>
    
                  <li class="nav-item ">
                    <a class="nav-link" href="/users/register"
                      >ثبت نام <span class="sr-only">(current)</span></a
                    >
                  </li>
               <% } %> 
          
                  <% if(auth.user&&auth.user.permisson=="admin"){ %>
                    <li class="nav-item ">
                      <a class="nav-link" href="/admin"
                        >مدیریت <span class="sr-only">(current)</span></a
                      >
                    </li>
                 <% } %> 
            

              
      
            </ul>
          </div>
        </nav>
      </div>
    </div>

    <%-body  %> 


    <div class="container-fluid fh5co_footer_bg pb-3">
      <div class="container animate-box">
        <div class="row">
          <div class="col-12 spdp_right py-5">
            <img src="/images/white_logo.png" alt="img" class="footer_logo" />
          </div>
          <div class="clearfix"></div>
          <div class="col-12 col-md-4 col-lg-3">
            <div class="footer_main_title py-3">درباره ما</div>
            <div class="footer_sub_about pb-3">
              لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
              استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله
              در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد
              نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.
              کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان
              جامعه و متخصصان را می طلبد
            </div>
            <div class="footer_mediya_icon">
              <div class="text-center d-inline-block">
                <a class="fh5co_display_table_footer">
                  <div class="fh5co_verticle_middle">
                    <i class="fa fa-linkedin"></i>
                  </div>
                </a>
              </div>
              <div class="text-center d-inline-block">
                <a class="fh5co_display_table_footer">
                  <div class="fh5co_verticle_middle">
                    <i class="fa fa-google-plus"></i>
                  </div>
                </a>
              </div>
              <div class="text-center d-inline-block">
                <a class="fh5co_display_table_footer">
                  <div class="fh5co_verticle_middle">
                    <i class="fa fa-twitter"></i>
                  </div>
                </a>
              </div>
              <div class="text-center d-inline-block">
                <a class="fh5co_display_table_footer">
                  <div class="fh5co_verticle_middle">
                    <i class="fa fa-facebook"></i>
                  </div>
                </a>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-3 col-lg-2">
            <div class="footer_main_title py-3">دسته بندی ها</div>
            <ul class="footer_menu">
              <% categories.forEach(category => { %> 
                <li>
                  <a href="/categories/<%=category.slug  %>" class=""
                    ><i class="fa fa-angle-right"></i>&nbsp;&nbsp; <%=category.title  %> </a
                  >
                </li>
                <%}); %> 
              

            </ul>
          </div>
          <div class="col-12 col-md-5 col-lg-3 position_footer_relative">
            <div class="footer_main_title py-3">محبوب ترین ها</div>
            <% populateArticles.forEach(populateArticle => {%>
              <div class="footer_makes_sub_font"><%=formatDate(populateArticle.updatedAt)  %> </div>
            <a href="/single/<%=populateArticle._id  %>" class="footer_post pb-4">
              <%=populateArticle.summery  %> 
            </a>
              <%}); %> 
            
            <div class="footer_position_absolute">
              <img
                src="/images/footer_sub_tipik.png"
                alt="imgggg"
                class="width_footer_sub_img"
              />
            </div>
          </div>
          <div class="col-12 col-md-12 col-lg-4">
            <div class="footer_main_title py-3">آخرین پست ها</div>
            <% lastArticles.forEach(lastArticle => {%>
              <a href="/single/<%=lastArticle._id  %>" class="footer_img_post_6"
              ><img src="/uploads/articleImages/<%=lastArticle.thumbnail  %>" alt="img"
            /></a>
              <%}); %> 
          

          </div>
        </div>
       
      </div>
    </div>
    <div class="container-fluid fh5co_footer_right_reserved">
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-6 py-4 Reserved">
            © تمام این محتوا برای ما است
          
          </div>
          <div class="col-12 col-md-6 spdp_right py-4">
            <a href="#" class="footer_last_part_menu">خانه</a>
            <a href="Contact_us.html" class="footer_last_part_menu">درباره ما</a>
            <a href="Contact_us.html" class="footer_last_part_menu">تماس با ما</a>
            <a href="blog.html" class="footer_last_part_menu">آخرین اخبار</a>
          </div>
        </div>
      </div>
    </div>

    <div class="gototop js-top">
      <a href="#" class="js-gotop"><i class="fa fa-arrow-up"></i></a>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <!--<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>-->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
      integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
      integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
      crossorigin="anonymous"
    ></script>
    <!-- Waypoints -->
    <script src="/js/jquery.waypoints.min.js"></script>
    <!-- Main -->
    <script src="/js/main.js"></script>
  </body>
</html>
